__pycache__

data_processing/sgm_exports
data_processing/common.json
data_processing/study.json

image_processing/Art Capture

image_processing/*/bb/gJazz.png
image_processing/*/bb/hMetal.png
image_processing/*/bb/mSonic.png

image_processing/*/be/dBrawl.png
image_processing/*/be/dMight.png
image_processing/*/be/wWarr.png

image_processing/*/ce/bFreeze.png
image_processing/*/ce/hHanded.png

image_processing/*/do/jBreaker.png
image_processing/*/do/rBlight_*.png

image_processing/*/el/rVelvet.png
image_processing/*/el/sOut.png

image_processing/*/fi/cCutter.png
image_processing/*/fi/dLocks.png
image_processing/*/fi/iThreat.png

image_processing/*/mf/claw.png
image_processing/*/mf/fFury.png
image_processing/*/mf/meow.png
image_processing/*/mf/mTrial.png
image_processing/*/mf/pDark.png
image_processing/*/mf/splash.png

image_processing/*/pa/pPride.png
image_processing/*/pa/sCross.png
image_processing/*/pa/sSalt.png

image_processing/*/pe/fFrame.png
image_processing/*/pe/uViolent.png

image_processing/*/pw/fFly.png
image_processing/*/pw/fTrap.png
image_processing/*/pw/gFan.png

image_processing/*/sq/bExor.png
image_processing/*/sq/dOWint.png
image_processing/*/sq/lCrafted.png
image_processing/*/sq/necroB.png

image_processing/*/va/aGreed.png
image_processing/*/va/lHope.png
image_processing/*/va/pTech.png
image_processing/*/va/sGeneral.png
*.m~
