__pycache__
preprocessing/sgm_exports
preprocessing/study.json
charactersProcessor/*/bb/gJazz.png
charactersProcessor/*/bb/hMetal.png
charactersProcessor/*/bb/mSonic.png
charactersProcessor/*/bb/rEvil.png
charactersProcessor/*/be/dBrawl.png
charactersProcessor/*/be/dMight.png
charactersProcessor/*/be/wresX.png
charactersProcessor/*/be/wWarr.png
charactersProcessor/*/ce/bFreeze.png
charactersProcessor/*/ce/hHanded.png
charactersProcessor/*/do/fColor.png
charactersProcessor/*/do/jBreaker.png
charactersProcessor/*/do/rBlight_0.png
charactersProcessor/*/do/rBlight_1.png
charactersProcessor/*/do/rBlight_2.png
charactersProcessor/*/do/rBlight_3.png
charactersProcessor/*/do/rBlight_4.png
charactersProcessor/*/do/rBlight_5.png
charactersProcessor/*/do/rBlight_6.png
charactersProcessor/*/el/rVelvet.png
charactersProcessor/*/el/sOut.png
charactersProcessor/*/fi/dLocks.png
charactersProcessor/*/fi/iThreat.png
charactersProcessor/*/mf/claw.png
charactersProcessor/*/mf/fFury.png
charactersProcessor/*/mf/meow.png
charactersProcessor/*/mf/mTrial.png
charactersProcessor/*/mf/pDark.png
charactersProcessor/*/mf/splash.png
charactersProcessor/*/pa/pPride.png
charactersProcessor/*/pa/sCross.png
charactersProcessor/*/pa/sSalt.png
charactersProcessor/*/pe/fFrame.png
charactersProcessor/*/pe/uTouch.png
charactersProcessor/*/pe/uViolent.png
charactersProcessor/*/pe/wCard.png
charactersProcessor/*/pw/fFly.png
charactersProcessor/*/pw/fTrap.png
charactersProcessor/*/pw/gFan.png
charactersProcessor/*/sq/bExor.png
charactersProcessor/*/sq/dOWint.png
charactersProcessor/*/sq/lCrafted.png
charactersProcessor/*/sq/necroB.png
charactersProcessor/*/va/aGreed.png
charactersProcessor/*/va/lHope.png
charactersProcessor/*/va/pTech.png
charactersProcessor/*/va/sGeneral.png
