__pycache__
preprocessing/sgm_exports
preprocessing/study.json
charactersProcessor/raw/bb/gJazz.png
charactersProcessor/raw/bb/rEvil.png
charactersProcessor/raw/be/dBrawl.png
charactersProcessor/raw/be/dMight.png
charactersProcessor/raw/be/wresX.png
charactersProcessor/raw/ce/bFreeze.png
charactersProcessor/raw/do/fColor.png
charactersProcessor/raw/do/rBlight_0.png
charactersProcessor/raw/do/rBlight_1.png
charactersProcessor/raw/do/rBlight_2.png
charactersProcessor/raw/do/rBlight_3.png
charactersProcessor/raw/do/rBlight_4.png
charactersProcessor/raw/do/rBlight_5.png
charactersProcessor/raw/do/rBlight_6.png
charactersProcessor/raw/el/rVelvet.png
charactersProcessor/raw/fi/dLocks.png
charactersProcessor/raw/mf/claw.png
charactersProcessor/raw/mf/meow.png
charactersProcessor/raw/mf/mTrial.png
charactersProcessor/raw/mf/pDark.png
charactersProcessor/raw/mf/splash.png
charactersProcessor/raw/pe/uTouch.png
charactersProcessor/raw/pe/uViolent.png
charactersProcessor/raw/pe/wCard.png
charactersProcessor/raw/pw/fFly.png
charactersProcessor/raw/sq/bExor.png
charactersProcessor/raw/va/sGeneral.png
charactersProcessor/crop/bb/gJazz.png
charactersProcessor/crop/bb/rEvil.png
charactersProcessor/crop/be/dBrawl.png
charactersProcessor/crop/be/dMight.png
charactersProcessor/crop/be/wresX.png
charactersProcessor/crop/ce/bFreeze.png
charactersProcessor/crop/do/fColor.png
charactersProcessor/crop/do/rBlight_0.png
charactersProcessor/crop/do/rBlight_1.png
charactersProcessor/crop/do/rBlight_2.png
charactersProcessor/crop/do/rBlight_3.png
charactersProcessor/crop/do/rBlight_4.png
charactersProcessor/crop/do/rBlight_5.png
charactersProcessor/crop/do/rBlight_6.png
charactersProcessor/crop/el/rVelvet.png
charactersProcessor/crop/fi/dLocks.png
charactersProcessor/crop/mf/claw.png
charactersProcessor/crop/mf/meow.png
charactersProcessor/crop/mf/mTrial.png
charactersProcessor/crop/mf/pDark.png
charactersProcessor/crop/mf/splash.png
charactersProcessor/crop/pe/uTouch.png
charactersProcessor/crop/pe/uViolent.png
charactersProcessor/crop/pe/wCard.png
charactersProcessor/crop/pw/fFly.png
charactersProcessor/crop/sq/bExor.png
charactersProcessor/crop/va/sGeneral.png
