@font-face {
    font-family: 'Cinema';
    src: url('data/font/TBCinemaRGothic-M.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('data/font/RobotoCondensed-Regular.ttf') format('truetype');
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

#menu, #foot {
    position: -webkit-sticky;
    position: sticky;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
#menu {
    left: 0;
    top: 0;
}
#foot {
    right: 0;
    bottom: 0;
}

#collection {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
}
@media (max-width: 1250px) {
    #collection {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1000px) {
    #collection {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 750px) {
    #collection {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    #collection {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
}

.loadingBack {
    background: black;
    width: 100%;
    text-align: center;
}
.loading {
    width: 100%;
    max-width: 500px;
}

.fighter, .variant, .ability {
    font-family: 'Cinema', 'Trebuchet MS', 'Lucida Sans', 'Arial Narrow';
    text-transform: uppercase;
}
.fighter, .variant {
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
}
.fighter, .ability {
    font-size: 24px;
}
.variant {
    font-size: 32px;
}

.quote, .description {
    font-family: 'Roboto';
    text-indent: -12px;
    padding-left: 12px;
}
.quote {
    text-align: center;
}
.quote:before {
    content: '\201C';
}
.quote:after {
    content: '\201D';
}
