@font-face {
    font-family: 'Cinema';
    src: url('data/font/TBCinemaRGothic-M.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('data/font/RobotoCondensed-Regular.ttf');
}

body {
    background: black;
    color: white;
    font-family: 'Roboto'; /* TODO: add backup fonts */
    text-shadow: 1px 1px black;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

#menu, #foot {
    position: -webkit-sticky;
    position: sticky;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}
#menu {
    left: 0;
    top: 0;
}
#foot {
    left: 0;
    bottom: 0;
}

#element, #mastery input, #element input {
    display: none;
}

.icon2 {
    width: 24px;
    opacity: 0.5;
    filter: saturate(0);
    cursor: pointer;
}
input:checked + .icon {
    opacity: 1;
    filter: drop-shadow(0 0 3px #fd0);
}





/* COLLECTION */

#collection {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 6px;
    padding: 6px;
}
@media (max-width: 3150px) {#collection {grid-template-columns: repeat(8, 1fr);}}
@media (max-width: 2800px) {#collection {grid-template-columns: repeat(7, 1fr);}}
@media (max-width: 2450px) {#collection {grid-template-columns: repeat(6, 1fr);}}
@media (max-width: 2100px) {#collection {grid-template-columns: repeat(5, 1fr);}}
@media (max-width: 1750px) {#collection {grid-template-columns: repeat(4, 1fr);}}
@media (max-width: 1400px) {#collection {grid-template-columns: repeat(3, 1fr);}}
@media (max-width: 1050px) {#collection {grid-template-columns: repeat(2, 1fr);}}
@media (max-width: 700px) {#collection {grid-template-columns: repeat(1, 1fr);}}

/* LOADING */

#loading {
    grid-column: 1 / -1;
    margin: auto;
}

#loading img {
    width: 256px;
}

#loading:after {
    content: 'LOADING'; /* NOTE: can't use corpus to change language here */
    font-family: 'Cinema', 'Trebuchet MS', 'Arial Narrow', sans-serif;
    font-size: 30px;
    text-align: center;
    display: block;
    animation: 0.7s infinite fader;
}

@keyframes fader {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* CARD */

.card {
    background: #1b2a41;
    border: 3px double #ccb55a;
    display: grid;
    grid-template-areas:
        "img qt qt"
        "img atk hp"
        "img fs fs"
        "ca ca ca"
        "sa sa sa"
        "ma ma ma";
    grid-template-rows: repeat(6, min-content); /* TODO: maybe change 6 to 3 */
    grid-gap: 10px;
    padding: 10px;
}

/* ICON */

.icon {
    grid-area: img;
    margin: 10px auto; /* TODO: maybe append ` 0 auto` */
}

.frame {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px black;
    padding: 6px;
    margin: 0 auto -15px auto;
}
.bronze .frame {
    background: linear-gradient(#621 10%, #b76 20%, #843 40%, #b76 60%, #621 90%);
}
.silver .frame {
    background: linear-gradient(#889 10%, #eef 20%, #9ab 40%, #eef 60%, #889 90%);
}
.gold .frame {
    background: linear-gradient(#da2 10%, #feb 20%, #fd8 40%, #feb 60%, #da2 90%);
}
.diamond.neutral .frame {
    background: linear-gradient(#d9d 10%, #fff 20%, #fcf 40%, #fef 60%, #d9d 90%); /* TODO: confirm colors */
}
.diamond.fire .frame {
    background: linear-gradient(#d33 10%, #fff 20%, #f99 40%, #fee 60%, #d33 90%);
}
.diamond.water .frame {
    background: linear-gradient(#6be 10%, #fff 20%, #ace 40%, #eff 60%, #6be 90%);
}
.diamond.wind .frame {
    background: linear-gradient(#8b3 10%, #fff 20%, #de9 40%, #efe 60%, #8b3 90%);
}
.diamond.dark .frame {
    background: linear-gradient(#95f 10%, #fff 20%, #caf 40%, #fef 60%, #95f 90%);
}
.diamond.light .frame {
    background: linear-gradient(#dd6 10%, #fff 20%, #ffb 40%, #ffe 60%, #dd6 90%);
}

.backdrop {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 2px 1px black;
}
.neutral .backdrop {
    background: radial-gradient(#ccc, #888);
}
.fire .backdrop {
    background: radial-gradient(#fb7, #d00);
}
.water .backdrop {
    background: radial-gradient(#5ff, #06c);
}
.wind .backdrop {
    background: radial-gradient(#9f8, #082);
}
.dark .backdrop {
    background: radial-gradient(#eae, #525);
}
.light .backdrop {
    background: radial-gradient(#fff, #ec5);
}

.portrait {
    width: 135%;
    filter: drop-shadow(0 0 1px black);
    margin: -64% 0 0 -18%;
}
#rBlight .portrait {
    animation: 7s infinite linear rainbow;
}

@keyframes rainbow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.nameplate {
    position: relative;
    width: max-content;
    background: #3e2c29;
    text-align: center;
    border: 3px double #8f6151;
    box-shadow: 0 1px 1px 1px black;
    padding: 2px;
    margin: auto;
}

.variant-name, .fancy { /* NOTE: there might be some compatibility issues */
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-family: 'Cinema', 'Trebuchet MS', 'Arial Narrow', sans-serif;
    text-transform: uppercase;
    text-shadow: none;
    filter: drop-shadow(1px 1px black);
    padding: 0 0.25em;
}
.bronze .variant-name, .fancy.bronze-tint {
    background: -webkit-linear-gradient(white, chocolate);
    background: -o-linear-gradient(transparent, transparent); /* for opera */
    color: chocolate;
}
.silver .variant-name, .fancy.silver-tint {
    background: -webkit-linear-gradient(white, gray);
    background: -o-linear-gradient(transparent, transparent); /* for opera */
    color: gray;
}
.gold .variant-name, .fancy.gold-tint {
    background: -webkit-linear-gradient(white, gold);
    background: -o-linear-gradient(transparent, transparent); /* for opera */
    color: gold;
}
.diamond .variant-name, .fancy.diamond-tint {
    background: -webkit-linear-gradient(white, pink);
    background: -o-linear-gradient(transparent, transparent); /* for opera */
    color: pink;
}

.variant-name {
    font-size: 20px;
}

.fighter-name {
    font-family: 'Cinema', 'Trebuchet MS', 'Arial Narrow', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

/* QUOTE */

.quote {
    text-align: center;
    grid-area: qt;
    margin-top: auto;
}

/* STATS */

.stat { /* TODO: EVERYTHING ABOUT STATS */
    text-align: center;
    margin: auto;
}
.stat:before {
    content: '\00a0';
    width: 20px;
    height: 20px;
    text-indent: 25px;
    background-size: 20px !important;
    display: inline-block;
    margin-right: 0.25em;
}

.atk {
    grid-area: atk;
}
.atk:before {
    background: url(official/PowerIcon.png);
}

.hp {
    grid-area: hp;
}
.hp:before {
    background: url(official/HealthIcon.png);
}

.fs {
    grid-area: fs;
    margin-top: 0;
}
.neutral .fs:before {background: url(official/ElementalIconNeutral.png);}
.fire .fs:before {background: url(official/ElementalIconFire.png);}
.water .fs:before {background: url(official/ElementalIconWater.png);}
.wind .fs:before {background: url(official/ElementalIconWind.png);}
.light .fs:before {background: url(official/ElementalIconLight.png);}
.dark .fs:before {background: url(official/ElementalIconDark.png);}

/* ABILITIES */

.ability {
    background: #263b5a;
    box-shadow: 0 0 1px black;
    display: grid;
    grid-gap: 6px;
    padding: 6px;
}
.ability.collapsed {
    background: #0f1824;
}

.ca {
    grid-area: ca;
}

.sa {
    grid-area: sa;
}

.ma {
    grid-area: ma;
}

.ability-name {
    font-size: 20px;
    cursor: pointer;
}
.ability.collapsed .ability-name {
    opacity: 0.5;
}

.description {
    background: #314c73;
    font-size: 14px;
    box-shadow: 0 0 1px black;
    padding: 6px;
}
.ability.collapsed .description {
    display: none;
}

.number {
    color: #0f0; /* TODO: standardize color format */
}

/* GENERAL */

.hidden {
    display: none;
}
