@font-face {
    font-family: 'Cinema';
    src: url('data/font/TBCinemaRGothic-M.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('data/font/RobotoCondensed-Regular.ttf') format('truetype');
}

body {
    background: black;
    color: white;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

#menu, #foot {
    position: -webkit-sticky;
    position: sticky;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}
#menu {
    left: 0;
    top: 0;
}
#foot {
    left: 0;
    bottom: 0;
}

#element, #mastery input, #element input {
    display: none;
}

.icon2 {
    width: 24px;
    opacity: 0.5;
    filter: saturate(0);
    cursor: pointer;
}
input:checked + .icon {
    opacity: 1;
    filter: drop-shadow(0 0 3px #fd0);
}





#loading {
    grid-column: 1 / 5;
    margin: auto;
    text-align: center;
    font-size: 30px;
}
#kinucakes {
    width: 256px;
    display: block;
}
#loading:after {
    content: 'LOADING...';
    font-family: 'Cinema', 'Trebuchet MS', 'Lucida Sans', 'Arial Narrow';
    animation: 0.7s infinite fader;
}
@keyframes fader {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}




#collection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
    padding: 6px;
}
@media (max-width: 1500px) {
    #collection {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1250px) {
    #collection {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1000px) {
    #collection {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    background: #1b2a41;
    border: 3px double #ccb55a;
    color: #fff;
    text-shadow: 1px 1px black;
    display: grid;
    grid-template-areas:
        "img qt qt"
        "img atk hp"
        "img fs fs"
        "ca ca ca"
        "sa sa sa"
        "ma ma ma";
    grid-template-rows: repeat(6, min-content);
    grid-gap: 10px;
    padding: 10px;
}

/* PORTRAIT */

.icon {
    width: 100px;
    min-width: max-content;
    grid-area: img;
    margin: 10px auto;
}

.frame {
    width: 85px;
    height: 85px;
    padding: 6px;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px #000;
    margin: auto;
    margin-bottom: -15px;
}
.bronze .frame {
    background: linear-gradient(#621 10%, #b76 20%, #843 40%, #b76 60%, #621 90%);
}
.silver .frame {
    background: linear-gradient(#889 10%, #eef 20%, #9ab 40%, #eef 60%, #889 90%);
}
.gold .frame {
    background: linear-gradient(#da2 10%, #feb 20%, #fd8 40%, #feb 60%, #da2 90%);
}
.diamond.neutral .frame {
    background: linear-gradient(#d9d 10%, #fff 20%, #fcf 40%, #fef 60%, #d9d 90%);
}
.diamond.fire .frame {
    background: linear-gradient(#d33 10%, #fff 20%, #f99 40%, #fee 60%, #d33 90%);
}
.diamond.water .frame {
    background: linear-gradient(#6be 10%, #fff 20%, #ace 40%, #eff 60%, #6be 90%);
}
.diamond.wind .frame {
    background: linear-gradient(#8b3 10%, #fff 20%, #de9 40%, #efe 60%, #8b3 90%);
}
.diamond.dark .frame {
    background: linear-gradient(#95f 10%, #fff 20%, #caf 40%, #fef 60%, #95f 90%);
}
.diamond.light .frame {
    background: linear-gradient(#dd6 10%, #fff 20%, #ffb 40%, #ffe 60%, #dd6 90%);
}

.backdrop {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 2px 1px #000;
}
.neutral .backdrop {
    background: radial-gradient(#ccc, #888);
}
.fire .backdrop {
    background: radial-gradient(#fb7, #d00);
}
.water .backdrop {
    background: radial-gradient(#5ff, #06c);
}
.wind .backdrop {
    background: radial-gradient(#9f8, #082);
}
.dark .backdrop {
    background: radial-gradient(#eae, #525);
}
.light .backdrop {
    background: radial-gradient(#fff, #ec5);
}

.portrait {
    width: 135%;
    margin-top: -64%;
    margin-left: -18%;
    filter: drop-shadow(0 0 1px #000);
}

.nameplate {
    position: relative;
    background: #3e2c29;
    font-family: 'Cinema', 'Trebuchet MS', 'Lucida Sans', 'Arial Narrow';
    color: #fff;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    width: max-content;
    padding: 2px 4px;
    margin: auto;
    border: 3px double #8f6151;
    box-shadow: 0 1px 1px 1px black;
    text-align: center;
}
.bronze .variant-name {
    background: linear-gradient(white, chocolate);
    -webkit-background-clip: text;
}
.silver .variant-name {
    background: linear-gradient(white, gray);
    -webkit-background-clip: text;
}
.gold .variant-name {
    background: linear-gradient(white, gold);
    -webkit-background-clip: text;
}
.diamond .variant-name {
    background: linear-gradient(white, pink);
    -webkit-background-clip: text;
}
.variant-name {
    font-size: 20px;
    color: transparent;
    text-shadow: none;
    filter: drop-shadow(1px 1px black);
}
.fighter-name {
    font-size: 14px;
}

/* QUOTE */

.quote {
    font-family: 'Roboto';
    text-align: center;
    margin-top: auto;
    grid-area: qt;
}
.quote:before, .quote:after {
    content: '"';
}

/* STATS */

.stat {
    font-family: 'Cinema', 'Trebuchet MS', 'Lucida Sans', 'Arial Narrow';
    margin: auto;
    text-align: center;
    margin: auto;
}

.atk {
    grid-area: atk;
}
.atk:before {
    content: 'ATK';
    background: url(official/PowerIcon.png);
}
.hp {
    grid-area: hp;
}
.hp:before {
    content: 'HP';
    background: url(official/HealthIcon.png);
}
.fs {
    grid-area: fs;
    margin: 0 auto;
}
.fs:before {
    content: 'FS';
}

.neutral .fs:before {background: url(official/element/Neutral.png);}
.fire .fs:before {background: url(official/element/Fire.png);}
.water .fs:before {background: url(official/element/Water.png);}
.wind .fs:before {background: url(official/element/Wind.png);}
.light .fs:before {background: url(official/element/Light.png);}
.dark .fs:before {background: url(official/element/Dark.png);}

.stat:before {
    text-indent: 25px;
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans', 'Arial Narrow';
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px !important;
    display: inline-block;
    margin-right: 5px;
}

/* ABILITIES */

.ability {
    background: #263b5a;
    box-shadow: 0 0 1px #000;
    padding: 6px;
    display: grid;
    grid-gap: 6px;
}
.ca {
    grid-area: ca;
}
.sa {
    grid-area: sa;
}
.ma {
    grid-area: ma;
}

.number {
    color: #00ff00;
}

.title {
    font-family: 'Cinema', 'Trebuchet MS', 'Lucida Sans', 'Arial Narrow';
    font-size: 20px;
    cursor: pointer;
}
.title:before {
    background: linear-gradient(white, gold);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
    filter: drop-shadow(1px 1px black);
    margin-right: 1em;
}
.ca .title:before {
    content: 'CHARACTER ABILITY';
}
.sa .title:before {
    content: 'SIGNATURE ABILITY';
}
.ma .title:before {
    content: 'MARQUEE ABILITY';
}



.description {
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans', 'Arial Narrow';
    font-size: 14px;
    background: #314c73;
    box-shadow: 0 0 1px black;
    padding: 4px;
}










.hidden {
    display: none;
}

#rBlight .portrait {
    animation: 10s infinite linear rainbow;
}
@keyframes rainbow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
